/* src/components/Particle.css */
.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind the main content */
  pointer-events: none; /* Allow clicks to pass through */
}

.particle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none; /* Allow clicks to pass through */
}